/* apply to font to entire page */
* {
  font-family: 'Sedgwick Ave Display', sans-serif;
}

/* set background color for body */
body {
  background-color: #bda9a5;
}

/* style title of page */
h1 {
  background-color: rgb(50, 0, 200);
  font-size: 100px;
  text-decoration: underline overline #ff3028;
  position: sticky;
  top: 40px;
}

/* style nav bar */
h2,
h4,
strong {
  background-color: lightseagreen;
}

nav {
  background-color: lightslategray;
  font-size: 25px;
  margin: 50px 50px 50px 50px;
  display: flex;
  justify-content: center;
}

.navContainer {
  display: block;
}
