/* apply to font to entire page */
* {
  font-family: 'Sedgwick Ave Display', sans-serif;
}

/* set background color for body */
body {
  background-color: #bda9a5;
}

/* style title of page */
h1 {
  background-color: rgb(50, 0, 200);
  font-size: 100px;
  text-decoration: underline overline #ff3028;
  position: sticky;
  top: 40px;
}

/* style nav bar */
h2,
h4,
strong {
  background-color: lightseagreen;
}

nav {
  background-color: lightslategray;
  font-size: 25px;
  margin: 50px 50px 50px 50px;
  display: flex;
  justify-content: center;
}

.navContainer {
  display: block;
}

/* style 4/12 */
main {
  background-color: hsl(150deg 30% 60%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px 10px 10px;
}

#April12 {
  padding: 10px 10px 10px 50px;
  background-color: lightcoral;
  font-size: 80%;
  border-style: dotted;
  border-color: blue;
  border-width: 15px;
  border-radius: 25% 10%;
  margin-top: 60px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 30px;
}

#April12 ul + h4 {
  background-color: red;
  font-size: 50px;
}

.imageContainer {
  display: inline-block;
}
/* styling 4/16 */
#April16 {
  padding: 10px 100px;
  background-color: lightgray;
  font-size: 10%;
  max-height: 400px;
  max-width: 200px;
  color: red;
  text-align: center;
}

#April16 summary {
  font-size: 20px;
  color: red;
}

#April16 details > p {
  color: blue;
}
